@font-face {
    font-family: 'DroidSerif';
    src: url(fonts/DroidSerif.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway.ttf);
}

.completed {
    text-decoration: line-through;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.png);
    background-size: cover;
}

.main {
    margin: 0 auto;
    width: 524px;
}

.inputBlock {
    margin: 45px 0px;
    display: flex;    
}

input, #addButton, .tasksListBlock{
    font-family: Raleway;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #7a6a3b;
    padding: 4px;
    font-size: 20px;
    
}

input:focus{
    background-color: transparent;
}

input::-webkit-input-placeholder{
    color:  #5a4400;
 }

input::-moz-placeholder{
    color:  #5a4400;
}

#addButton{
    padding: 2px 9px;
    border-radius: 7px;
    font-size: 29px;
}

#addButton, .import{
    margin: 0px 3px;
}

#addButton:hover{
    background-color: rgb(255 228 187 / 29%);
    transition: 0.5s;
}

input, #addButton, .closeButton{
    color: #5a4400;
}

#addButton, .closeButton, li, .import{
    cursor: pointer;
}

ul{
    list-style-type: none;
}

li{
    color: #967719;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(255 228 187 / 29%);
    margin-top: 4px;
    padding: 4px 13px;
    border: 1px solid#cca26529;
    border-radius: 7px;
    line-height: 30px;
    transition: 0.5s;
}

li:hover {
    background-color: rgb(255 255 255 / 40%);
}

.closeButton{
    font-size: 25px;
    transition: 0.3s;
    float: right;
    display: none;
}

.closeButton:hover {
    font-size: 30px;
}

li:hover>.closeButton{
    display: inline;
}

#switcher{
    display: inline-block;
    margin-top: 18px;
    height: 18px;
    border: 1px solid #ffedc8;
    border-radius: 10px;
    background: #ffedc8;
}

#switcher:hover label{
    cursor: pointer;
}

input[name = "switch"]{
    display: none;
}

.switch::before{
    content: '';
    border-radius: 12px;
    padding: 0.1px 9px;
    transition: 0.4s;
}

input[name = "switch"]:checked+label::before{
   background:#ffa60038;
 }

 input[name = "import"]{
     display: none;
 }

 .import{
    font-size: 24px;
 }


